.banner{
    width: 95%;
    height: auto;
    border: 2px dashed darkcyan;
    color: rgb(27, 9, 70);
    padding: 10px;
}


/*
  actual width--> width+padding+border
                  95%+20px+4px*/